/*BOOTSTRAP OVERRIDE*/
.container-fluid{
    padding-left:100px;
    padding-right: 100px;
}
.nav-pills>li>a{
    border-radius: 0;
}
@media (min-width: 768px){
    .navbar>.container .navbar-brand{
        left:15px;
        position:absolute;
    }
}


.main-nav,
.main-nav .nav,
.dropdown-menu,
.nav .dropdown.open a,
.dropdown.open a:active,
.dropdown.open a:focus,
.dropdown.open a:hover,
.navbar-inverse .navbar-nav>.open>a:hover{
    background-color: #191C21;
}
.navbar-nav>li>.dropdown-menu{
    margin-top:-1px;
}
.navbar-header{
    width:100%;
}
.navbar.navbar-inverse{
    background-color: #191C21;
    min-height: 63px;
    position:fixed;
    left:0;
    right: 0;
    z-index: 999;
}
.main-nav{
    position:fixed;
    left:0;
    right: 0;
    width: 100%;
}
.dropdown-menu .divider{
    background-color: #393939;
}
.dropdown-menu>li>a{
    color:#bebebe;
}
.dropdown-menu>li>a:hover{
    color:#bebebe;
}
.main-nav .nav{
    padding-top: 8px;
    font-size: 17px;
}
.main-nav a{
    text-transform: uppercase;
    color:#bebebe;
     background-color: #191C21;
}
.main-nav li a:hover,
.main-nav li a:focus{
    color: #fff;
    background-color: #191C21 ;
}
.main-nav li:hover{
    background-color: #191C21;
}
#logo{
    margin-top: -11px;
    height: 50px;
}
.subnav {
    width: 88%;
    margin-left: 12%;
}

.stackedNav{
    width:181px;
    background-color: #252932;
    color:white;
    height: 100%;
    position: fixed;
    top:58px;
    padding-top:20px;
}
.stackedNav a{
    color: #bebebe;
}
.stackedNav li a:hover{
    background-color: #337ab7;
}

.stackedNav li.active a{
    color: #bebebe;
}

/*COMMONS*/
.button-wide{
    width:100%;
}
.button-half{
    width: 45%;
    margin-right: 10px;
}
.button-half .glyphicon{
    left:-12px;
}
.btn-custom1{
    background-color: #005E62;
    color:#B9D2D9;
    border:none;
}
.btn-custom1.noHover:hover,
.btn-custom1.noHover:focus{
    background-color: #005E62;
    color:#B9D2D9;
    border:none;
}

.formTitle{
    color:green;
    text-align: center;
    text-decoration: underline;
}
.companyControlBtn{
    display: none;
}
.submenu_item{
    margin-top:63px;
}
/*LOGIN FORM*/
.loginModal{
    margin-top:100px;
}
.loginModal .modal-content{
    border-radius: 0;
}
.loginModal .modal-header{
    background-color: #454545;
    color:#fff;
}
.loginModal .modal-body{
}
.loginModal .close{
    color:#fff;
}
.loginModal form input{
    border-radius: 0;
}
.loginModal .userfeedback{
    min-height: 72px;
}
#userImg{
    width:100px;
    height:95px;
    border-radius: 50%;
    overflow: hidden;
    background-color: white;
    margin: auto;
    margin-top:-40px;
}
#userImg img{
    width: 100px;
}
.top_group{
    padding-top: 10px;
}
.hiddenForm{
    display: none !important;
}
/*CONTENT*/
.wide{
    background-image: url('../img/main_header.png');
    min-height: 400px;
}
/*CALENDAR*/
.calendarContainer{
    width:50%;
    height:100%;
    display: block;
    right:0;
    position: absolute;
    top:64px;
    outline: 1px solid #efefef;
    padding:25px;
}
.calendarContainer iframe{
    width: 100%;
    height: 100%;
    border:none;
}
.companySelect{
    margin: auto;
}
/*Account settings*/
.accountForm{
    width:60%;
    margin: auto;
    outline: 1px solid #efefef;
    padding:20px;
}
/*Comapany settings*/
.companyContainer{
    width:75%;
    border-left: 1px solid black;
    height: 100%;
    margin-left:180px;
}

.createCompany,
.staff,
.services,
.createServices{
    width:30%;
    outline: 1px solid #efefef;
    padding: 20px;
    margin-top:20px;
    height: 90%;
    float: right;
}
.editTile{
    width:50%;
    display: inline-block;
    vertical-align: top;
}
.staff,
.services,
.company{
    width: 45%;
    display: inline-block;
    margin-top: 0;
}
.createCompany{
    margin-top:20px;
}
.companyBlocks{
    display: inline-block;
}
.companyBlocks h5{
    margin-bottom: 50px;
}
.availableCompanies{
    width:50%;
    padding: 20px;
    margin-top:20px;
    height: 90%;
}
.servicesContainer{
    position: absolute;
}
.servicesContainer ul{
    list-style-type: none; 
}
.servicesContainer ul li{
    padding:5px 0;
}
/*STAFF MEMBER LIST*/
.staffContainer,
.serviceContainer{
    padding:5px;
    border-bottom: 1px solid black;
}
.staffContainer .staffDetails,
.serviceContainer .serviceDetails{
    font-size: 10px;
}
.staffContainer .staffDetails,
.serviceContainer .serviceDetails,
.staffContainer .staffName,
.serviceContainer .serviceName{
    width: 80%;
}
.controlBtns{
    width: 15%;
    float:right;
    margin-top:-20px;
    font-size: 20px;
}
.controlBtns .glyphicon{
    margin-right:10px;
}
.controlBtns .glyphicon:hover{
    cursor:pointer;
}
.controlBtns .glyphicon-remove-circle:before{
    color:#c9302c;
}
.controlBtns .glyphicon-edit:before{
    color:#f0ad4e;
}
.widget-container{
    position: absolute;
    top:150px;
    left:150px;
    width: 80%;
}
.widget-container textarea{
    font-size: 10px;
    width: 80%;
    height: 100px;
    padding-top:30px;
}
#d_debug{
    margin-top:300px;
}
select {
    padding:6px 12px;
    margin: 0;
    -webkit-border-radius:4px;
    -moz-border-radius:4px;
    border-radius:4px;
    background: #B7B7B7;
    color:#fff;
    border:none;
    outline:none;
    display: inline-block;
    -webkit-appearance:none;
    -moz-appearance:none;
    appearance:none;
    cursor:pointer;
  width:180px
}
textarea {
    resize: none;
}

footer{
    background-color: #191C21;
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 60px;
    color:white;
}
.docContainer{
    margin-top:65px;
    width: 85%;
    margin-left: 190px;
}
.docContainer h3{
    text-decoration: underline;
}
.apiDoc .navbar-static-top{
    top:0;
}
/* Targetting Webkit browsers only. FF will show the dropdown arrow with so much padding. */
@media screen and (-webkit-min-device-pixel-ratio:0) {
    select {padding-right:18px}
}


@media (max-width: 768px){
    .navbar-header {
        display: none;
    }
    .main-nav .navbar-header{
        display: block;
    }
    .main-nav .nav {
        margin-top: 63px;
        float:right;
    }
}




