/*BOOTSTRAP OVERRIDE*/
.container-fluid{
    padding-left:100px;
    padding-right: 100px;
}
.nav-pills>li>a{
    border-radius: 0;
}

.main-nav,
.main-nav .nav,
.dropdown-menu,
.nav .dropdown.open a{
    background-color: #454545;
}
.dropdown-menu .divider{
    background-color: #393939;
}
.dropdown-menu>li>a{
    color:#bebebe;
}
.dropdown-menu>li>a:hover{
    color:#bebebe;
}
.main-nav .nav{
    padding-top: 8px;
    font-size: 17px;
}
.main-nav a{
    text-transform: uppercase;
    color:#bebebe;
     background-color: #454545;
}
.main-nav li a:hover,
.main-nav li a:focus{
    color: #fff;
    background-color: #454545 ;
}
.main-nav li:hover{
    background-color: #454545;
}
#logo{
    margin-left:-65px;
}
.subnav {
    width: 88%;
    margin-left: 12%;
}

.stackedNav{
    width:181px;
    background-color: #252932;
    color:white;
    height: 100%;
    min-height: 500px;
    position: fixed;
}
.stackedNav a{
    color: #bebebe;
}

.stackedNav li.active a{
    color: #bebebe;
}

/*COMMONS*/
.button-wide{
    width:100%;
}
.button-half{
    width: 45%;
    margin-right: 10px;
}
.button-half .glyphicon{
    left:-12px;
}
.btn-custom1{
    background-color: #005E62;
    color:#B9D2D9;
    border:none;
}
.btn-custom1.noHover:hover,
.btn-custom1.noHover:focus{
    background-color: #005E62;
    color:#B9D2D9;
    border:none;
}

.formTitle{
    color:green;
    text-align: center;
    text-decoration: underline;
}
.companyControlBtn{
    display: none;
}
/*LOGIN FORM*/
.loginModal{
    margin-top:100px;
}
.loginModal .modal-content{
    border-radius: 0;
}
.loginModal .modal-header{
    background-color: #454545;
    color:#fff;
}
.loginModal .modal-body{
}
.loginModal .close{
    color:#fff;
}
.loginModal form input{
    border-radius: 0;
}
.loginModal .userfeedback{
    min-height: 72px;
}
#userImg{
    width:100px;
    height:95px;
    border-radius: 50%;
    overflow: hidden;
    background-color: white;
    margin: auto;
    margin-top:-40px;
}
#userImg img{
    width: 100px;
}
.top_group{
    padding-top: 10px;
}
.hiddenForm{
    display: none !important;
}
/*CONTENT*/
.wide{
    background-image: url('../img/main_header.png');
    min-height: 400px;
}
/*CALENDAR*/
.calendarContainer{
    width:500px;
    height:500px;
    display: block;
    left:0;
    position: absolute;
    top:100px;
}
.calendarContainer iframe{
    width: 100%;
    height: 100%;
    border:none;
}
/*Account settings*/
.accountForm{
    width:60%;
    margin: auto;
    outline: 1px solid #efefef;
    padding:20px;
}
/*Comapany settings*/
.companyContainer{
    width:75%;
    border-left: 1px solid black;
    min-height: 480px;
}
.createCompany,
.staff,
.createServices{
    width:30%;
    outline: 1px solid #efefef;
    padding: 20px;
    margin-top:20px;
    height: 90%;
    float: right;
}
.editTile{
    width:50%;
    display: inline-block;
    vertical-align: top;
}
.staff{
    width: 45%;
    display: inline-block;
    margin-top: 0;
}
.companyBlocks{
    display: inline-block;
}
.companyBlocks h5{
    margin-bottom: 50px;
}
.availableCompanies{
    width:30%;
    outline: 1px solid #efefef;
    padding: 20px;
    margin-top:20px;
    height: 90%;
}
.servicesContainer{
    position: absolute;
}
.servicesContainer ul{
    list-style-type: none; 
}
.servicesContainer ul li{
    padding:5px 0;
}
/*STAFF MEMBER LIST*/
.staffContainer{
    padding:5px;
    border-bottom: 1px solid black;
}
.staffContainer .staffDetails{
    font-size: 10px;
}
.staffContainer .staffDetails,
.staffContainer .staffName{
    width: 80%;
}
.controlBtns{
    width: 15%;
    float:right;
    margin-top:-20px;
    font-size: 20px;
}
.controlBtns .glyphicon{
    margin-right:10px;
}
.controlBtns .glyphicon:hover{
    cursor:pointer;
}
.controlBtns .glyphicon-remove-circle:before{
    color:#c9302c;
}
.controlBtns .glyphicon-edit:before{
    color:#f0ad4e;
}
